<sl-spin>
    <div *ngIf="tableTitle" class="table-title">
        <ng-container *slStringTemplateOutlet="tableTitle">{{tableTitle}}</ng-container>
    </div>
    <div class="table-body">
        <ng-template [ngTemplateOutlet]="tableInnerTemplate"></ng-template>
    </div>
   <ng-template [ngTemplateOutlet]="paginationTemplate"></ng-template>
</sl-spin>

<!--显示的表格-->
<ng-template #tableInnerTemplate>
    <ng-template [ngTemplateOutlet]="fixedHeaderTemplate"></ng-template>
    <ng-template [ngTemplateOutlet]="tableBodyTemplate"></ng-template>
    <div *ngIf="displayData.length === 0 && !loading">
        <div>暂时没有数据</div>
    </div>
</ng-template>
<!--分页信息-->
<ng-template #paginationTemplate>
    <sl-pagination *ngIf="enablePagination && total"
    [hideOnSinglePage]="hideOnSinglePage"
    [showTotal]="showTotal"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [total]="total"
    (paginationChange)="pageSizeOrIndexChange($event)">
    </sl-pagination>
</ng-template>

<!--设置列宽的colgroup-->
<ng-template #colGroupTemplate>
    <colgroup>
        <col *ngFor="let th of listOfThComponent"
        [style.width]="th.width" [style.minWidth]="th.width">
    </colgroup>
</ng-template>

<!--普通的表头，有y轴滚动就不显示-->
<ng-template #headerTemplate>
    <ng-template [ngTemplateOutlet]="colGroupTemplate"></ng-template>
    <thead *ngIf="!Scroll.y">
        <ng-template [ngTemplateOutlet]="theadComponent?.templateRef"></ng-template>
    </thead>
</ng-template>

<!--固定表头-->
<ng-template #fixedHeaderTemplate>
    <div *ngIf="Scroll.x || Scroll.y" class="fixed">
        <table [style.width]="Scroll.x">
            <ng-template [ngTemplateOutlet]="colGroupTemplate"></ng-template>
            <thead *ngIf="Scroll.y">
                <ng-template [ngTemplateOutlet]="theadComponent?.templateRef"></ng-template>
            </thead>
        </table>
    </div>
</ng-template>

<!--表体-->
<ng-template #tableBodyTemplate>
    <div *ngIf="!virtualScroll; else scrollViewTpl">
        <table [style.width]="Scroll.x">
            <ng-template [ngIf]="!virtualScroll" [ngTemplateOutlet]="headerTemplate"></ng-template>
            <ng-content></ng-content>
        </table>
    </div>
</ng-template>

<!--滚动表格-->
<ng-template #scrollViewTpl>
    <cdk-virtual-scroll-viewport
    [itemSize]="virtualItemSize"
    [minBufferPx]="virtualMinBufferPx"
    [maxBufferPx]="virtualMaxBufferPx"
    [style.height]="Scroll.y">
        <table [style.width]="Scroll.x">
            <ng-template [ngTemplateOutlet]="headerTemplate"></ng-template>
            <tbody>
                <ng-container *cdkVirtualFor="let item of data; let i = index">
                    <ng-template [ngTemplateOutlet]="virtualScrollDirective?.templateRef"
                    [ngTemplateOutletContext]="{$implicit: item, index: i}"></ng-template>
                </ng-container>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
</ng-template>

