<scheme-table [config]="gridOptions" [data]="listOfData"></scheme-table>
<hr>
<sl-spin></sl-spin>
<hr>
<zc-pagination
        [zcTotal]="total"
        [zcPageSize]="pageSize"
        [(zcPageIndex)]="pageIndex"
        (zcPageIndexChange)="modeChange($event)">
</zc-pagination>

<button (click)="addTotal()">addTotal</button>
<button (click)="addIndex()">addIndex</button>
{{pageIndex}}
<hr>

<div #haha></div>
<ng-template #tdTemplate let-data>
    <a (click)="console(data)">edit</a> |
    <a>user</a> |
    <a>delete</a>
</ng-template>

